.bg1{
    background-image: url('bg-02-free-img copy.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    width: 100%;
    
    
    
}
.centered-content{display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            height: 100vh; /* Set the height to full viewport */
            text-align: center; color: azure;}
.heading{
    font-size: large;
}
.heading1{
    font-size: 70px;
}
.centered-content1{
    display: flex;
    justify-content: center;
    
    align-items: center;
    text-align: center;
    height: 100vh;
}
.container-content1{
    margin-left: 350px;
    margin-right: 350px;
}
.bg2{
    background-image: url('bg-09-free-img.jpg');
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.hr{
    border: 2px solid white;
}


    
.my-btn:hover {
        background-color: #45a049;  
        transform: width 2s; 
        width:200px  ;

    }
.my-home a:hover{
    color:red;
    transition: width 3s;
}
.my-class{
    width: 50px;
  height: 50px;
  background-color: red;
  transition: width 2s;
}
.my-class:hover{
       width:200px;
       
       background-color: red;
    
       

}
.my-btn1 span:after{
    content:'\00bb';
    position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;

}

.my-btn1:hover span {
  padding-right: 25px;
}

.my-btn1:hover span:after {
  opacity: 1;
  right: 0;
    
}
.my-btn1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.new{
    border:2px solid;
    resize:both;
    overflow: auto;
}